* {
  box-sizing: border-box;
}

@font-face {
  font-family: "widolte";
  src: ("Widolte_Regular_demo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-image: url("../img/FONDO\ CITEPO\ PAGINA\ WEB.png");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#form {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 7px;
  margin-right: 20rem;
  padding: 10px;
  color: #FFFF;
  background-color: #f28b2d;
  box-shadow: 0 0 20px 1px rgba(228, 219, 219, 0.3);
}

#btn {
  width: 500px;
  max-width: 100%;
}

#form #msg #msg2 {
  display: block;
  margin-block: 10px;
}
